<!--
  Generated template for the PromotionModalPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <button class="btn-close-Add" (click)="dismiss()">
    <ion-icon name="close-circle"></ion-icon>
  </button>
  <div class="bnr-add-center" *ngFor="let item of banner">
    <img [src]="item.image" />
  </div>
</ion-content>