<ion-content>
  <div class="bg-loginWrp">
    <div class="logo-bx">
      <img class="logo-c" src="assets/imgs/logo.png" />
      <h1>Welcome</h1>
      <p>Baharampur One Touch! We look forward to cater multiple services with you.</p>
    </div>
  </div>
  <div class="bdy-frm-lgn">
    <form autocomplete="true">
      <ion-item *ngIf="!loginPage" class="animated fadeIn">
        <ion-label floating>First name</ion-label>
        <ion-input type="text" name="firstname" [(ngModel)]="user.firstname"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginPage" class="animated fadeIn">
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" name="lastname" [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
      <ion-item class="animated fadeIn">
        <ion-label floating>Email</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item class="animated fadeIn" *ngIf="!loginPage">
        <ion-label floating>Phone</ion-label>
        <ion-input type="text" name="Phone" [(ngModel)]="user.phone"></ion-input>
      </ion-item>
      <ion-item class="animated fadeIn">
        <ion-label floating>Password</ion-label>
        <ion-input [type]="passwordType" clearOnEdit="false" name="password" [(ngModel)]="user.password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div padding>
        <button type="submit" *ngIf="loginPage" ion-button block outline (click)="login()" color="dark"
          class="login-button mrt10">Login</button>
      </div>
    </form>
    <button *ngIf="!loginPage" ion-button block outline (click)="register()" color="dark"
      class="login-button mrt10">Register</button>
    <div ion-button block outline color="dark" clear text-center (click)="forgetPassword()"><span
        class="frgt-txt">Forget Password
        ?</span></div>
    <!-- <div class="strike">
      <span>OR</span>
    </div>
    <div padding>
      <button ion-button block (click)="fbook()" outline color="dark" class="login-button">
        <ion-icon name="logo-facebook"></ion-icon>&nbsp; Login with Facebook
      </button>
    </div> -->
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div ion-button block outline clear color="dark" *ngIf="loginPage" (click)="gotoregister()" class="animated fadeIn">
      <span>Don't have an account? <strong>Register now</strong>.</span>
    </div>
    <div ion-button block outline clear color="dark" *ngIf="!loginPage" (click)="gotologin()" class="animated fadeIn">
      <span>Already have an account? <strong>Login here</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>