page-login {
  .bg-loginWrp {
    background: rgba(32, 81, 133, 1);
    background: -moz-linear-gradient(top, rgba(32, 81, 133, 1) 0%, rgba(176, 81, 81, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32, 81, 133, 1)), color-stop(100%, rgba(176, 81, 81, 1)));
    background: -webkit-linear-gradient(top, rgba(32, 81, 133, 1) 0%, rgba(176, 81, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(32, 81, 133, 1) 0%, rgba(176, 81, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(32, 81, 133, 1) 0%, rgba(176, 81, 81, 1) 100%);
    background: linear-gradient(to bottom, rgba(32, 81, 133, 1) 0%, rgba(176, 81, 81, 1) 100%);
    min-height: 46vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .logo-c {
    width: 100px;
  }

  .logo-bx {
    padding: 16px 20px 60px 20px;
  }

  .logo-bx h1 {
    color: #fff;
    font-size: 2.5rem;
    margin: 20px 0 10px 0;
  }

  .logo-bx p {
    color: #fff;
    font-size: 1.5rem;
  }

  .bdy-frm-lgn {
    padding: 0 20px;
    position: relative;
    margin-top: -22px;
  }

  .bdy-frm-lgn .item-block {
    border-radius: 3px;
   }

  .bdy-frm-lgn .item-md.item-block .item-inner,
  .bdy-frm-lgn .item-ios.item-block .item-inner {
    border-bottom: 1;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .passwordIcon{
    font-size:3rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }
   // HR with text in the middle effect
   .strike {
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  .strike>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background:  #fff;
  }
  .strike>span:before {
    right: 100%;
    margin-right: 15px;
  }
  .strike>span:after {
    left: 100%;
    margin-left: 15px;
  }


}