<ion-header>
  <ion-navbar>
    <ion-title>Set location</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-group>
    <ion-item-divider color="light">Select Location</ion-item-divider>
    <ion-item padding *ngFor="let item of locations" (click)="itemSelected(item)">
      <ion-icon name="locate"></ion-icon> {{ item.title |uppercase}}
    </ion-item>
  </ion-item-group>
</ion-content>