page-restaurant {
    // ion-chip {
    //     position: absolute;
    //     right: 10px;
    //     top: 5px;
    //  }
    // ion-card img {
    //     display: block;
    //     width: auto;
    //     margin-left: auto;
    //     margin-right: auto
    // }
    .filters {
        background-color: #ff1744;
        ion-col {
            text-align: center;
            // font-size: 1.3rem;
            // line-height: 1.6rem;
            ion-icon {
                color: #fff;
            }
            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        p {
            color: #fff;
            margin: 0;
            font-size: 14px;
            // line-height: 1.6rem;
        }
    }
    .swiper-slide {
        border-radius: 3%;
        width: 106.5px;
    }
    .slider-pager-page {
        color: white;
        fill: #f90;
        stroke: red;
        background-color: blue;
    }
    .swiper-slide-active {
        background-color: #f9a825;
        // padding: 5px;
        // border-radius: 5%;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }
    ion-segment {
        justify-content: space-between;
        overflow: auto;
        background-color: #f9a825;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        ion-segment-button.segment-button {
            flex: 1 0 100px;
            color: #fff;
        }
    }
    .segment-md-dark .segment-button.activated,
    .segment-md-dark .segment-button.segment-activated {
        border-color: #f9a825;
        color: #222;
        background-color: #fff;
    }
    .segment-md-dark .segment-button.activated,
    .segment-md-dark .segment-button {
        color: #fff;
        opacity: 1;
        text-transform: capitalize;
        font-size: 1.5rem;
    }
    ion-segment {
        display: flex;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
        &::-webkit-scrollbar {
            height: 0;
            display: none;
        }
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
    ion-content {
        top: 40px;
    }
}