<ion-header   >
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurant</ion-title>
    <ion-buttons end>
      <page-cartcounter></page-cartcounter>
      </ion-buttons>
      
  </ion-navbar>
     <!-- Searchbar with a cancel button and custom cancel button text -->
<!-- <ion-searchbar placeholder="Search Restaurant" showCancelButton="focus" id="focus" (ionInput)="getUserInputForSearch($event)" [(ngModel)]="searchText"></ion-searchbar> -->
  <ion-toolbar  color="danger" no-padding>
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides centeredSlides="true" (ionSlideDidChange)="slideChanged(Slides)" #Slides slidesPerView="4"
          (ionSlideTap)="slideTap()">
          <ion-slide *ngFor="let category of postList;let i=index;">
            <ion-col [ngClass]="{'activeIndex': currentIndex}">
               <p [class.selected]="selectedCategory?.id === category.id">{{ category.title|slice :0:15}}</p>
            </ion-col>
          </ion-slide>
        </ion-slides>
        <!-- <div *ngIf="postList.length === 0">
          <p>No Data Found</p>
        </div> -->
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
 
  <ion-segment [(ngModel)]="tagsegment" color="dark">
    <ion-segment-button *ngFor="let item of category" (click)="setSegmentActive(item.id)" [value]="item.id">
      {{item.title}}
    </ion-segment-button>
  </ion-segment>
 
 </ion-header>
 <ion-content #pageTop>
  <page-product [parentSubject]="parentSubject"></page-product>

 </ion-content>
 