<!--
  Generated template for the QtyModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="main-view">
    <div class="overlay" (click)="dismiss()"></div>
    <div class="modal_content">

  <div class="mdl-box">
      <div class="pop-hdr">
        <span class="head-txt">
          {{productid.title}}
        </span> <button class="btn-close-pop" (click)="dismiss()"><ion-icon name="close-circle"></ion-icon></button>
      </div>
      <div class="pop-details-c">
        <div class="select-bx">
          <div class="label-slt">Select Quantity</div>
            <div class="addbtn">
              <ion-icon name="remove" (click)="decrement()"></ion-icon>
              <span class="crntcount"> {{ qty }}</span>
              <ion-icon name="add" (click)="increment()"></ion-icon>
            </div>
          </div>
         <button ion-button class="btn-addtocrt" (click)="addToCart()">Add to cart</button>
      </div>
      
 </div>
 </div>
</ion-content>