page-qty-modal {
    .mdl-box{
        @include border-radius(10px 10px 0 0);
        background-color:#fff; 
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        // left: 50%;
        // top: 50%;
        // -moz-transform: translate(-50%, -50%);
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        @include box-shadow(0px 0px 10px 0px rgba(171,171,171,0.2));
    }
    .pop-details-c{
        padding: 20px 16px;
    }
    .pop-hdr{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      background-color: #e8e8e8;
      padding: 0 16px;
    }
    .btn-close-pop{
        font-size: 15px;
        color: #ed7700;
    }
    .head-txt{
        color: #252525;
        font-size: 15px;
        font-weight: 600;
        font-family: $font-stack1;
    }
    .btn-addtocrt{
        background-color: #ed7700;
        color: #fff;
        border: 0;
        font-size: 16px;
        height: 42px;
        text-transform: inherit;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        @include box-shadow(none);
        font-weight: 600;
        font-family: $font-stack1;
        @include border-radius(5px);
    }
    .select-bx{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .select-bx .label-slt{
        color: #666;
        font-size: 14px;
        font-weight: 500;
    }
    .addbtn{
        border:1px solid #ed7700;
        @include border-radius(5px);
        overflow: hidden;
    }
    .addbtn .icon{
        float: left;
        height: 30px;
        width: 26px;
        font-size: 16px;
        color: #ed7700;
        text-align: center;
        line-height: 30px;
        background-color: #f1f6f8;
    }
    .crntcount{
        float: left;
        height: 30px;
        width: 40px;
        border-left:1px solid #ed7700;
        border-right:1px solid #ed7700;
        font-size: 15px;
        color: #ed7700;
        line-height: 30px;
        text-align: center;
    }
    .btn-close-pop{
        background: transparent;
        color: #777;
        font-size: 20px;
        padding: 0;
    }

    @media only screen and (max-width: 767px) {
       
       
        .content-md, .content-ios{
            background-color: transparent;
        }
        
    }

    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
       }
      .modal_content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
         z-index: 100;
        margin: 0 auto;
          color: #333;
        
        overflow: hidden;
      }
    
}
