<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let fake of fakeItem" class="fakeItem">
      <div class="post">
        <div class="avatar"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>