<ion-header>
  <ion-navbar color="header">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image" *ngIf="user.profileImage!=null"
    [ngStyle]="{'background' : 'url(' + user.profileImage + ')center no-repeat'}"></div>
  <div class="header-image" *ngIf="user.profileImage==null"
    style="background: url('assets/imgs/avatar.png')center no-repeat;"></div>
  <div class="main-content" text-wrap text-center>
    <h2>{{user.name}}</h2>
    <button ion-button small round outline (click)="goToReview()">Review</button>
    <button ion-button small round outline (click)="openChat(user)">
      <ion-icon name="chatbubbles"></ion-icon> Chat
    </button>
    <p>{{user.occupation}} &bull; {{user.location}}</p>
    <p class="profile-description">{{user.description}}</p>
    <hr>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        {{user.email}}
        <a button ion-button href="mailto:{{user.email}}" color="primary" item-end medium>Open App</a>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="call" color="danger"></ion-icon>
        <p>Mobile</p>
        {{user.phone}}
        <a button ion-button href="tel:{{user.phone}}" color="danger" item-end medium>Poke me</a>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="logo-whatsapp" color="secondary"></ion-icon>
        <p>Whatsapp</p>
        {{user.whatsapp}}
        <a button ion-button color="secondary" item-end medium
          href="whatsapp://send?text=Hi from ionic&phone=+{{user.phone}}&abid=+{{user.phone}}">Open App</a>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="pin" color="twitter"></ion-icon>
        <p>{{user.address}}</p>
      </ion-item>
    </ion-list>
    <h2>Get in touch</h2>
    <hr>
    <div id="map_canvas" style="width:100%;height:200px;"></div>
  </div>
</ion-content>