<ion-header>
  <ion-toolbar color="primary">
    <button ion-button (click)="openMenu()" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>Home</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button (click)="goToPage('LocationPage')" ion-button icon-only>
        <ion-icon name="locate"></ion-icon> {{regionSelected | slice:0:4}}
      </button>
      <button (click)="PromotionModal()" ion-button icon-only>
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button (click)="goToSearch()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToNotification()">
        <ion-badge *ngIf="notificationList" color="danger">{{ notificationList }}</ion-badge>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Search Restaurant"  showCancelButton="focus" id="focus" (click)="goToSearchBar()"
    [(ngModel)]="searchText"></ion-searchbar>
</ion-header>
<ion-content>
  <div *ngFor="let item of banner" class="slder-height animated fadeIn" (click)="showPromoterCategory(item)">
    <ion-slides loop="true" autoplay="1000" pager effect="fade" class="animated fadeIn">
      <ion-slide *ngFor="let i of item">
        <img [src]="i.image" />
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>	
    <ion-row>	
      <ion-col>	
        <div >	
          <img src="assets/imgs/grocery1.jpg" class="categoryimg" (click)="goToGrocerySearchPage()">	
          <p class="align-center">Grocery & Vegetables</p>	
        </div>	
      </ion-col>	
      <ion-col>	
        <div>	
          <img src="assets/imgs/doct-appoint.jpg" class="categoryimg" (click)="showComingSoon()">	
          <p class="align-center">Doctor's Booking</p>  	
        </div>	
      </ion-col>	
      <ion-col (click)="goToMeatSearchPage()">	
        <div>	
          <img src="assets/imgs/meat.jpg" class="categoryimg">	
          <p class="align-center">Meat</p>  	
        </div>	
      </ion-col>	
    </ion-row>	
  </ion-grid>
  <ion-grid class="cate-lst">
    <ion-row wrap>
      <ion-col class="animated fadeIn" col-4 *ngFor="let item of categoryList" (click)="goToPostPage(item)">
        <img [src]="item.image" />

        <p>{{ item.title }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right middle class="ionfab">
    <button ion-fab color="danger" (click)="goToOfferzonePage()"><ion-icon class="offertext">Offer Zone</ion-icon></button>
  </ion-fab>
</ion-content>