<ion-header>
  <ion-toolbar color="header">
    <ion-navbar>
      <ion-title>Category</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum</h2>
      <p>It is a long established fact that a reader will be distracted</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum is simply</h2>
      <p>It is a long established</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum</h2>
      <p>It is a long established fact that a reader will be distracted</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum is simply</h2>
      <p>It is a long established</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum</h2>
      <p>It is a long established fact that a reader will be distracted</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2>Lorem Ipsum is simply</h2>
      <p>It is a long established</p>
      <ion-note item-end class="note note-ios">3:43 pm</ion-note>
    </ion-item>
  </ion-list>
</ion-content>