<ion-header>
  <ion-toolbar color="header">
    <ion-navbar>
      <ion-title>Notification</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button (click)="deleteAll()" ion-button icon-only>
        <ion-icon name="list"></ion-icon>  
      </button>
   
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding (click)="goToMyOrder(i,item)" *ngFor="let item of notificationList;let i=index"
      (ionSwipe)="delete(i,item)">
      <ion-item>
        <h2>{{i+1}}. {{item.pushmessage| slice:0:19}}</h2>
        <p>{{item.pushmessage}}</p>
        <ion-note item-end class="note note-ios">{{item.createdAt|date:'short'}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="delete(i,item)">Mark as read</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="!notificationList || notificationList.length<1">
      It seem you have no new notification </ion-item>
  </ion-list>
</ion-content>