page-product {
    .item{
        margin-bottom: 6px;
        background-color: #fff;
        @include box-shadow(0px 0px 10px 0px rgba(171,171,171,0.2));
        padding-left: 8px;
        padding-right: 8px;
    }
    .item-md, .item-ios{
        padding-left: 0;
    }
    .item-md.item-block .item-inner, 
    .list-ios .item-block .item-inner{
        padding-right: 0;
        border-bottom: 0;
    }
    .list-md > .item-block:last-child .item-inner, 
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0;
    }
    .list-ios > .item-block:last-child, 
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0;
    }
    .list-md > .item-block h2,
    .list-ios > .item-block h2{
        color: #252525;
        font-family: $font-stack1;
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
    }
    .item-md p, .item-ios p{font-size: 14px;}
    .list-ios > .item-block .btnVD.item-button,
    .list-md > .item-block .btnVD.item-button{
        border: 1px solid #2ec95c;
        font-weight: 400;
        color: #2ec95c;
        font-family: $font-stack1;
        background: #fff;
        text-transform: inherit;
        @include box-shadow(none);

    }
    .list-ios > .item-block .btnVD.item-button:hover,
    .list-md > .item-block .btnVD.item-button:hover{
        background: #ed7700;
        border-color: #ed7700;
        color: #fff;
    }
    .list-ios > .item-block .btnVD.item-button .btnVD.item-button ion-icon.icon,
    .list-md > .item-block .btnVD.item-button .btnVD.item-button ion-icon.icon{
        color:#2ec95c;
    }
    ion-icon.icon{
        padding-right: 5px;
    }
    .item-ios ion-thumbnail[item-start],
    .item-md ion-thumbnail[item-start]  {
        margin: 8px 0 8px 8px;
         min-width: 100px;
        min-height: 100px;
    }
    .item-ios ion-thumbnail[item-start] img,
    .item-md ion-thumbnail[item-start] img{
         width: 100px;
        height: 100px;
    }
    // .list-ios > .item-block, .list-ios > .item-block span,
    // .list-ios > .item-block p{font-size: 12px;}
    .alstdul li{
        font-size: 12px;
    }
    .list-ios > .item-block:first-child {
        border-top: 0;
    }
    
    .msgtxt{
        margin: 8px 0 8px 8px;  
        color: #777;
    }
    .btngtn{
        text-transform: none;
        background-color: #ed7700;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        @include border-radius(0);
        font-family: $font-stack1;
        text-transform: inherit;
        @include box-shadow(none);
        margin:0;
     }
    
    .countcrt{
        background-color: #f53d3d;
        font-size: 10px;
        font-weight: 600;
        height: 17px;
        width: 17px;
        @include border-radius(20px);
        font-family: $font-stack1;
        text-transform: inherit;
        @include box-shadow(none);
        display: block;
        position: absolute;
        right: -2px;
        top: -2px;
        line-height: 17px;
    }


    @media only screen and (min-width: 320px) {
        .item-block .item-inner .label{
            margin: 8px 16px;
        }
        .list-ios > .item-block .btnVD.item-button,
        .list-md > .item-block .btnVD.item-button{
            height: 30px;
            width: 65px;
            font-size:13px !important;
            @include border-radius(5px);
        }
        
    }
    footer footer-md {
         bottom: 0;
        
    }
  
}
