<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of filteredProductList|filter:sort" class="animated fadeIn" (click)="addToCart(item)">
      <ion-thumbnail item-start>
        <img [src]="item.image">

      </ion-thumbnail>
      <h2 *ngIf="item.title">{{item.title}}</h2>
      <p>Price : {{item.price| currency:'INR':true }}</p>
      <button class="btnVD" ion-button clear item-right>
        <ion-icon name="ios-cart"></ion-icon> Add
      </button>
    </ion-item>
  </ion-list>
</ion-content>