<ion-header>
    <ion-navbar>
        <ion-title>Checkout</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="cartEmpty">
        <ion-item class="alignitmtotal">
            <ion-row class="price-list header-tp">
                <ion-col col-6 text-left>Cart is Empty</ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!cartEmpty">
        <ion-item class="alignitmtotal">
            <ion-row class="price-list header-tp">
                <ion-col col-6 text-left>Call Summary</ion-col>
                <ion-col col-6 text-right (click)="editOrder()"><span class="eoclr">Edit Order</span></ion-col>
            </ion-row>
            <h2 class="h-one">{{shop.name}}</h2>
            <ion-row class="price-list" *ngFor="let item of checkoutList;">
                <ion-col col-6 text-left>{{item.product_name}}</ion-col>
                <ion-col col-3 text-center>x {{item.quantity}}</ion-col>
                <ion-col *ngIf="!item.isDiscountedOffer" col-3 text-right class="clrblac">{{item.quantity*item.price|currency:'INR'}}</ion-col>
                <ion-col *ngIf="item.isDiscountedOffer" col-3 text-right class="clrblac">{{item.quantity*item.discountedprice|currency:'INR'}}<br><span class="strikethrough">{{item.quantity*item.price|currency:'INR'}}</span></ion-col>
            </ion-row>
            <ion-row class="price-list subtotal">
                <ion-col col-8 text-left>Subtotal</ion-col>
                <ion-col col-4 text-right class="clrblac">{{subTotal|currency:'INR'}}</ion-col>
            </ion-row>
 
            <ion-row class="price-list subtotal">
                <ion-col col-8 text-left>Delivery fee</ion-col>
                <ion-col col-4 text-right>{{deliveryfee|currency:'INR'}}</ion-col>
            </ion-row>
           
            <ion-row class="price-list totalprnt">
                <ion-col col-8 text-left>Total</ion-col>
                <ion-col col-4 text-right class="clrblac">{{totalPrice|currency:'INR'}}</ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list radio-group class="smp-bx" *ngIf="!cartEmpty">
        <ion-row class="price-list header-tp">
            <ion-col col-12 text-left>Choose Delivery Type</ion-col>
        </ion-row>
       
        <ion-item>
            <h4 class="h4head">Delivery Address</h4>
            <p class="adrsinfo" *ngFor="let item of address">
                {{item.address}} {{item.locality}} {{item.city}} {{item.landmark}}
            </p>
            <span class="changebtn" (click)="changeAddres()">Change</span>
        </ion-item>
        
        <ion-item>
            <ion-input class="inputbx" name="instruction" [(ngModel)]="instruction"
                placeholder="Order related instruction, if any.."></ion-input>
        </ion-item>
    </ion-list>
    <ion-list radio-group class="smp-bx" [(ngModel)]="paymenttype" *ngIf="!cartEmpty">
        <ion-row class="price-list header-tp">
            <ion-col col-12 text-left>Select Payment Mode</ion-col>
        </ion-row>
        <ion-item>
            <ion-thumbnail item-start>
                <img src="assets/imgs/GPAY.png" alt="">
            </ion-thumbnail>
            <ion-label>Pay with GPAY (9083797873)</ion-label>
            <ion-radio (ionSelect)="showStep()" value="GPAYPAYTM"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-thumbnail item-start>
                <img src="assets/imgs/cash-in-hand.png" alt="">
            </ion-thumbnail>
            <ion-label>Cash Payment</ion-label>
            <ion-radio value="cashpayment"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer *ngIf="!cartEmpty">
    <button class="btngtn" color="header" ion-button large full no-margin (click)="payment()">
        Place Order <ion-icon name="arrow-forward" class="arrht"></ion-icon>
    </button>
</ion-footer>
<ion-footer *ngIf="cartEmpty">
    <button class="btngtn" color="header" ion-button large full no-margin (click)="shopnow()">
        Shop now<ion-icon name="arrow-forward" class="arrht"></ion-icon>
    </button>
    <ion-footer>
    </ion-footer>