<!--
  Generated template for the RestaurantdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-title>
      {{category.title}} ( {{postdetails.title}})
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <page-cartcounter></page-cartcounter>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list  class="accordion-list">
    <ion-list-header *ngFor="let item of productListByRest; let i = index;" no-lines class="ion-no-padding">
      <button ion-item (click)= "item.open=!item.open" [ngClass] = "item.open?'section-active':'section'">
        <ion-icon item-left [name]="item.open?'arrow-down':'arrow-forward'" class="margin-left"></ion-icon>
        <h3 class="restaurantTitle ion-text-capitalize" >{{item.category}}</h3>
      </button>
      <ion-list *ngIf="item.product && item.open">
        <ion-list-header *ngFor="let child of item.product; let j = index;" no-padding >
            <ion-item *ngIf="!child.product" class="animated fadeIn" (click)="addToCart(child)">
              <ion-thumbnail item-start>
                <img [src]="child.image">
              </ion-thumbnail>
              <h4 class="capitalize">{{child.title}}</h4>
               <p>Price : {{child.price| currency:'INR':true }}</p> 
               <button class="btnVD" ion-button clear item-right>
                <ion-icon name="ios-cart"></ion-icon> Add
              </button>
            </ion-item>
        </ion-list-header>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>