page-restaurantdetails {
    $black-overlay: rgba(0, 0, 0, 0.5);
    $text-color: #666;
    $banner-text-color: white;
    $content-color: whitesmoke;
    $detail-background: rgba(236, 236, 236, 0.8);
    .swiper-pagination-bullet-active {
        background: #ed7700;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 60px;
    }
    .banner {
        color: $banner-text-color;
        background: $black-overlay;

        .details {
            font-size: 1.5rem;
        }
    }
    /* Header */
    .toolbar-background {
        border-color: transparent;
        background: $black-overlay;
    }

    .bar-button,
    .toolbar-title {
        color: $banner-text-color;
    }
    .text-center {
        text-align: center;
    }
    /* Image */
    .housing-image {
        background-size: cover;
        height: 22vh;
        position: relative;
    }

    .housing-banner {
        color: $banner-text-color;
        background: $black-overlay;
        height: 10vh;
        width: 100vw;
        position: absolute;
        bottom: -1px;
        padding-left: 10px;
        padding-right: 10px;
        .housing-title {
            display: block;
            font-size: 1.2rem;
        }

        .price {
            font-size: 17px;
            line-height: 10vh;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    /* Content */
    .content {
        background: $content-color;
    }

    .scroll-content {
        padding-top: 0 !important;
    }

    .main-content {
        color: $text-color;
    }
    .listing-details ion-col {
        padding: 1rem;
        margin: 0.45rem;
        background: $detail-background;
    }

    .main-features {
        padding: 0;
        ion-icon {
            font-size: 22px !important;
            vertical-align: middle;
            color: #fff;
        }

        .col {
            text-align: center;
            padding: 20px 8px;
            background-color: #ececec;
        }
        .col:nth-child(1) {
            background-color: #f53d3d;
        }
        .col:nth-child(2) {
            background-color: #2ec95c;
        }
        .col:nth-child(3) {
            background-color: #ed7700;
        }
        .col:nth-child(4) {
            background-color: #9c27b0;
        }
        .e-name {
            color: #fff;
            font-family: $font-stack1;
            font-size: 14px;
            margin-top: 6px;
            display: block;
            text-transform: capitalize;
        }
    }

    .item-block {
        text-align: center;
    }
    ion-footer {
        height: 50px;
    }
    .dtls-bx {
        h4 {
            font-family: $font-stack1;
            font-size: 15px;
            margin-bottom: 6px;
            color: #425363;
        }
        p {
            margin-top: 5px;
        }
    }
    .padd50 {
        padding-bottom: 50px;
    }
    .btngtn {
        text-transform: none;
        background-color: #ed7700;
        border: 0;
        font-size: 16px;
        height: 50px;
    }
    .prdtTitle .item-block {
        background: url(../assets/imgs/dise-ico.png) no-repeat 15px 16px;
        text-align: left;
        background-size: 16px;
        background-color: #ebebeb;
    }
    .prdtTitle .item-block .label {
        margin-left: 22px;
        font-family: $font-stack1;
        font-size: 15px;
        color: #252525;
    }
    .chat {
        background-color: #2ec95c;
        color: white;
        padding: 30px;
    }
    .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center !important;
    }
    .swiper-pagination-bullet-active {
        background: #ed7700;
    }
    .item{
        margin-bottom: 0px;
        background-color: #fff;
        @include box-shadow(0px 0px 10px 0px rgba(171,171,171,0.2));
    }
    .item-md, .item-ios{
        padding-left: 0;
    }
    .item-md.item-block .item-inner, 
    .list-ios .item-block .item-inner{
        padding-right: 0;
        border-bottom: 0;
    }
    .list-md > .item-block:last-child .item-inner, 
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0;
    }
    .list-ios > .item-block:last-child, 
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0;
    }
    .list-md > .item-block h2,
    .list-ios > .item-block h2{
        color: #252525;
        font-family: $font-stack1;
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
    }
    .item-md p, .item-ios p{font-size: 14px;}
    .list-ios > .item-block .btnVD.item-button,
    .list-md > .item .item-block .btnVD.item-button{
        border: 1px solid #2ec95c;
        font-weight: 400;
        color: #2ec95c;
        font-family: $font-stack1;
        background: #fff;
        text-transform: inherit;
        @include box-shadow(none);
        @include border-radius(5px);

    }
    .list-ios > .item-block .btnVD.item-button:hover,
    .list-md > .item-block .btnVD.item-button:hover{
        background: #ed7700;
        border-color: #ed7700;
        color: #fff;
    }
    .list-ios > .item-block .btnVD.item-button .btnVD.item-button ion-icon.icon,
    .list-md > .item-block .btnVD.item-button .btnVD.item-button ion-icon.icon{
        color:#2ec95c;
    }
    ion-icon.icon{
        padding-right: 5px;
    }
    .item-ios ion-thumbnail[item-start],
    .item-md ion-thumbnail[item-start]  {
        margin: 8px 0 8px 8px;
         min-width: 100px;
        min-height: 100px;
    }
    .item-ios ion-thumbnail[item-start] img,
    .item-md ion-thumbnail[item-start] img{
         width: 100px;
        height: 100px;
    }
    // .list-ios > .item-block, .list-ios > .item-block span,
    // .list-ios > .item-block p{font-size: 12px;}
    .alstdul li{
        font-size: 12px;
    }
    .list-ios > .item-block:first-child {
        border-top: 0;
    }
    
    .msgtxt{
        margin: 8px 0 8px 8px;  
        color: #777;
    }
    .btngtn{
        text-transform: none;
        background-color: #ed7700;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        @include border-radius(0);
        font-family: $font-stack1;
        text-transform: inherit;
        @include box-shadow(none);
        margin:0;
     }
    
    .countcrt{
        background-color: #f53d3d;
        font-size: 10px;
        font-weight: 600;
        height: 17px;
        width: 17px;
        @include border-radius(20px);
        font-family: $font-stack1;
        text-transform: inherit;
        @include box-shadow(none);
        display: block;
        position: absolute;
        right: -2px;
        top: -2px;
        line-height: 17px;
    }


    @media only screen and (min-width: 320px) {
        .item-block .item-inner .label{
            margin: 8px 16px;
        }
        .list-ios > .item-block .btnVD.item-button,
        .list-md > .item-block .btnVD.item-button{
            height: 30px;
            width: 65px;
            font-size:13px !important;
            @include border-radius(5px);
        }
        
    }
    footer footer-md {
         bottom: 0;
        
    }
    .restaurantTitle{
        padding-top: 6px;
        padding-left: 12px;
        text-transform: capitalize;
        text-align: left;
    }
    .margin-left{
        margin-left: 12px !important;
    }
    .section-active{
        background-color: #b8bbbd;
    }
    .label-md {
        margin: 0px 0px 5px 0 !important;
    }
    .capitalize{
        text-transform: capitalize;
    }
}
