<ion-tabs color="header">
    <ion-tab [root]="homeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
     <ion-tab [root]="foodRoot" tabTitle="Order Food" tabIcon="cart"></ion-tab>
    <ion-tab [root]="recommendedRoot" tabTitle="Restaurant" tabIcon="basket"></ion-tab>
    <ion-tab [root]="cartRoot" tabTitle="Cart" tabIcon="cart" [tabBadge]="qty" tabBadgeStyle="danger"></ion-tab>
</ion-tabs>