<ion-header>
  <ion-toolbar color="header">
    <ion-navbar>
      <ion-title>Join</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Shop name</ion-label>
      <ion-input type="text" [(ngModel)]="user.shopname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone number</ion-label>
      <ion-input type="number" [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>About yourself</ion-label>
      <ion-input type="text" [(ngModel)]="user.about"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full round (click)="submit()" class="login-button mrt16">Apply</button>
</ion-content>