<ion-header>
  <ion-navbar>
    <ion-title>Enter Shipping Address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form autocomplete="true">
    <ion-list>
      <ion-item class="mrt16 animated fadeIn">
        <ion-label fixed>Phone</ion-label>
        <ion-input type="text" [(ngModel)]="add.phone" name="phone"></ion-input>
      </ion-item>
      <!-- <button ion-button clear (click)="changePhoneNumber()"> change</button> -->
      <ion-item class="mrt16 animated fadeIn">
        <ion-label fixed>City</ion-label>
        <ion-input type="text" [(ngModel)]="add.city" name="city"></ion-input>
      </ion-item>
      <ion-item class="mrt16 animated fadeIn">
        <ion-label fixed>locality</ion-label>
        <ion-input type="text" [(ngModel)]="add.locality" name="locality"></ion-input>
      </ion-item>
      <ion-item class="mrt16 animated fadeIn">
        <ion-label fixed>Address</ion-label>
        <ion-textarea [(ngModel)]="add.address" name="address"></ion-textarea>
      </ion-item>
      <ion-item class="mrt16 animated fadeIn">
        <ion-label fixed>landmark</ion-label>
        <ion-textarea [(ngModel)]="add.landmark" name="landmark"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <button ion-button block class="btngtn animated fadeIn" (click)="saveAddress()">save</button>
</ion-footer>