<ion-header no-border>
  <ion-navbar>
    <ion-title>
      {{category.title}} ( {{postdetails.title}})
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <section class="housing-image animated fadeIn">
    <ion-slides *ngIf="imagedetails && imagedetails.length" loop="true" autoplay="1000" pager effect="fade">
      <ion-slide *ngFor="let item of imagedetails"
        [ngStyle]="{'background' : 'url(' + item.image + ')no-repeat','background-size':'cover'}">
        <section class="housing-banner">
          <span class="price"> {{postdetails.title}}</span>
        </section>
      </ion-slide>
    </ion-slides>
  </section>
  <section class="main-content animated fadeIn">
    <ion-grid class="main-features">
      <ion-row>
        <ion-col text-center col-3>
          <a href="tel:{{postdetails.phone}}" color="secondary">
            <ion-icon name="call"></ion-icon>
            <span class="e-name">Call</span>
          </a>
        </ion-col>
        <ion-col text-center col-3 (click)="goToMap(postdetails)">
          <ion-icon name="pin"></ion-icon>
          <span class="e-name">Location</span>
        </ion-col>
        <ion-col text-center col-3 (click)="goToPage('ReviewPage')">
          <ion-icon name="star"></ion-icon>
          <span class="e-name"> {{postdetails.rating}} Rating</span>
        </ion-col>
        <a text-center class="chat" col-3 href="{{getWhatsAppMessage(postdetails)}}">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <br />
          Chat
        </a>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="listing-details" no-padding>
      <page-ghost-element *ngIf="! imagedetails?.length"></page-ghost-element>
      <ion-row *ngIf="postdetails.description">
        <section padding class="dtls-bx">
          <h4 class="heading">Description :</h4>
          <p class="details" [innerHtml]="postdetails.description"> </p>
        </section>
      </ion-row>
      <ion-row *ngIf="postdetails.address">
        <section padding class="dtls-bx">
          <h4 class="heading">Address :</h4>
          <p class="details"> {{postdetails.address}}</p>
        </section>
      </ion-row>
      <ion-row *ngIf="postdetails.timing>0">
        <section padding class="dtls-bx">
          <h4 class="heading">Timing :</h4>
          <p class="details" *ngFor="let item of postdetails.timing"> {{item}}</p>
        </section>
      </ion-row>
      <ion-row *ngIf="postdetails.phone">
        <section padding class="dtls-bx">
          <h4 class="heading">Phone :</h4>
          <p class="details"> {{postdetails.phone}}</p>
        </section>
      </ion-row>
      <ion-row *ngIf="postdetails.rating">
        <section padding class="dtls-bx">
          <h4 class="heading">Rating :</h4>
          <p class="details"> {{postdetails.rating}}
            <rating [readonly]="true" [(ngModel)]="postdetails.rating" [max]="5" iconClass="star-icon" fullIcon="★"
              emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']">
            </rating>
          </p>
        </section>
      </ion-row>
      <ion-row *ngIf="postdetails.website">
        <section padding class="dtls-bx">
          <h4 class="heading">Website :</h4>
          <p class="details" (click)="openWeb()" button> {{postdetails.website}}</p>
        </section>
      </ion-row>
    </ion-grid>
    <div class="padd50"></div>
  </section>
</ion-content>
<ion-footer>
  <a class="btngtn" href="{{getWhatsAppMessage(postdetails)}}" ion-button large full no-margin>
    Get in touch now
  </a>
</ion-footer>