page-myshop {
    ion-chip {
        position: absolute;
        right: 10px;
        top: 5px;
        opacity: .7;
    }
    ion-card img {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto
    }
    .grid {
        padding-bottom: 80px;
    }
    ion-label {
        font-size: 12px;
    }  
    .filters {
        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;
            ion-icon {
                color: #fff;
            }
            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        p {
            color: #fff;
            margin: 0;
            font-size: 12px;
            line-height: 1.6rem;
        }
        .selected {
            font-weight: 700;
        }
    }
    ion-thumbnail {
        width: 100%;
        height: 100PX;
        background-repeat: no-repeat;
        background-position: center;
    }
    .swiper-slide img {
        height: 50px;
        border-radius: 50%;
    }
    .card-md h2 {
        font-size: 1.3rem;
    }
    .slider-pager-page {
        color: white;
        fill: #f90;
        stroke: red;
        background-color: blue;
    }
    .swiper-slide {
        opacity: .6;
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .list-md {
        margin: 10px 0 16px;
    }
    ion-content {
         top: 29px;       
    }
}