<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order Food</ion-title>
    <ion-buttons end>
      <page-cartcounter></page-cartcounter>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="presentActionSheet()" icon-only>
        <ion-icon name="wine"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides centeredSlides="true" (ionSlideDidChange)="slideChanged(Slides)" #Slides slidesPerView="4"
          (ionSlideTap)="slideTap()">
          <ion-slide *ngFor="let category of tag;let i=index;">
            <ion-col [ngClass]="{'activeIndex': currentIndex}" >
              <img [src]="category.url">
              <p [class.selected]="selectedCategory?.id === category.id">{{ category.tag|uppercase }}</p>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content #pageTop>


  <ion-grid >
    <ion-row>
      <ion-col col-6 *ngFor="let item of prodcuctListData|filter:sort" class="animated fadeIn">
        <ion-card>
          <ion-chip color="light" style="position: absolute; right: 10px; top:10px;" (click)="PostdetailsPage(item)">
            <ion-label>{{item?.shop?.title}}</ion-label>
          </ion-chip>
          <ion-thumbnail (click)="addToCart(item)" [ngStyle]="{'background-image' : 'url(' + item.image + ')'}">
          </ion-thumbnail>

          <div padding (click)="addToCart(item)">
            <h2>{{item.title}}</h2>
            <small> {{item.product_category.title}}</small>
            <h4> {{item.price|currency:'INR'}}</h4>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>