<ion-header>
  <ion-navbar>
    <ion-title>Select your area for shipping order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>

       <ion-searchbar [(ngModel)]="q">
      </ion-searchbar>
 
   
  <ion-list radio-group [(ngModel)]="area">
    <ion-item *ngFor="let item of shippingArea|searchfilter:q">
      <ion-radio color="header" [value]="item"></ion-radio>
      <ion-label>{{item.key}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <button block ion-button color="header" type="button" (click)="saveShippingArea()">
    Submit   <ion-icon name="arrow-forward" class="arrht"></ion-icon></button>

</ion-footer>