page-shipping-area {
         .heading{
            color: #0f0f10;
            font-size: 2rem;
            margin-bottom: 16px;
        }
        .btn-submit{
            border-style: solid;
            border-color: #7db247;
            color: #fff;
            font-weight: 500;
 
            text-transform: inherit;
            margin:0px 5px; 
            padding: 0 15px;
        }
       
        [item-end].item-button.primarySucc{ 
            padding: 0;
            height: 30px;
            width: 10px;

            background-size: 10px;
            opacity: 0.5;
            background-color: transparent;
            padding:0;
            @include box-shadow(none);
        }
        .list-md ion-item-options .button,
        .list-ios ion-item-options .button{
            font-size: 1.5rem;
        }
        .list-ios.lst-list{
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
        }
        .item{
            color:#0f0f10; 
            background-color: #f4f4f4;
            border-top: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #e0e0e0;
        }
    
        .alert-ios .alert-radio-inner {
            left: 7px;
            top: 0;
            position: absolute;
            width: 9px;
            height: 18px;
            border-width: 3px;
            border-top-width: 0;
            border-left-width: 0;
            border-style: solid;
            border-color: #488aff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        // .item:nth-child(even){
        //     background-color: #eaeaea;
        // }
        // .item:nth-child(odd){
        //     background-color: #f4f4f4;
        // }
        .item:last-child{
            border-bottom: 1px solid #e0e0e0;
        }
        ion-select,.select-md, .select-ios{
            max-width: 100%;
            width: 97%; 
            padding-left:8px; 
        }
        .item-button.btnAdd{
            font-size:22px;
            color:#669933;
            background-color: transparent;
            padding:0;
            @include box-shadow(none);
        }
        .item.circle50{
            @include border-radius(44px);
            border:0;
        }
        @media only screen and (min-width: 320px) {
          
            .btn-submit{
                height: 48px;
                border-width: 2px;
                font-size: 1.4rem;
            }
           
        }
        
        @media only screen and (min-width: 768px) {
         
            .btn-submit{
                height: 80px;
                border-width: 3px;
                font-size: 20px;
            }
           
        }
    }
     