page-my-order {
    .content-ios, .content-md{
        background-color: #f1f6f8;
    }
    .ordr-item{
        margin-bottom: 6px;
        background-color: #fff;
        @include box-shadow(0px 0px 10px 0px rgba(171,171,171,0.2));
        padding-top: 10px;
    }
    .total-dtls{
        margin-top: 10px;
        padding: 16px 16px;
        border-top:1px solid #f1f6f8;
    }
    .btn-bx{
        padding: 10px 16px 14px 16px;
        border-top:1px solid #f1f6f8;
    }
    .item-name{
        color: #65747c;
        font-size: 14px;
        margin-bottom: 7px;
        font-weight: 400;
    }
    .ttprice{
        color: #252525;
        font-size: 15px;
        font-weight: 600;
    }
    p.txtpanding{
        color: #ee9a46;
        font-size: 13px;
        font-weight: 400;
    }
    p.txtdeliverd{
        color: #00ed00;
        font-size: 13px;
        font-weight: 400;
    }
    p.txtcancel{
        color: #ad0606;
        font-size: 13px;
        font-weight: 400;
    }
    .btn-tyo{
        color: #ed7700;
        @include box-shadow(none);
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .btn-tyo .icon{margin-left: 4px; font-size:13px;}
    .item{
       padding-left: 10px;
       padding-right: 10px;
    }
    .item-md.item-block .item-inner, 
    .list-ios .item-block .item-inner{
        padding-right: 0;
        border-bottom: 0;
    }
    .list-md > .item-block:last-child .item-inner, 
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0;
    }
    .list-ios > .item-block:last-child, 
    .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0;
    }
    .item-ios h2,
    .item-md h2{
        font-family: $font-stack1;
        color: #252525;
        font-weight: 600;
        display: inline-block;
        font-size: 15px;
        margin-bottom: 7px;
    }
    .item-ios p, .item-md p{font-size: 13px;}
    .btnarw.item-button{
        color: #96a9b3;
        @include box-shadow(none);
        font-size: 17px;
        margin: 0;
    }
    .list-ios > .item-block .btnVD.item-button:hover,
    .list-md > .item-block .btnVD.item-button:hover{
        background: #ed7700;
        border-color: #ed7700;
        color: #fff;
    }
    
    .item-ios ion-thumbnail[item-start],
    .item-md ion-thumbnail[item-start] {
        margin: 8px 0 8px 8px;
        @include border-radius(5px);
        min-width: 60px;
        min-height: 60px;
    }
    .item-ios ion-thumbnail[item-start] img,
    .item-md ion-thumbnail[item-start] img{
        @include border-radius(5px);
        width: 60px;
        height: 60px;
    }
    
    
    @media only screen and (min-width: 320px) {
        .item-block .item-inner .label{
            margin: 8px 16px;
            white-space: inherit;
        }
        .list-ios > .item-block .btnVD.item-button,
        .list-md > .item-block .btnVD.item-button{
            height: 30px;
            width: 65px;
            font-size:13px !important;
            @include border-radius(5px);
        }
        
    }
}
