<!--
  Generated template for the MyOrderPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Order</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngIf="!productList || productList.length<1">
      It seem you have no order placed
    </ion-item>
  </ion-list>
  <ion-list>
    <div class="ordr-item animated fadeIn" *ngFor="let item of productList;let i =index">
      <ion-item (click)="orderDetails(item)">
       
        <h2> {{item.shopid.title}}</h2>
        <p>Ordered at {{item.createdAt|date:'MMMM d, y, h:mm a'}}</p>
        <button ion-button clear item-end class="btnarw">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <div class="total-dtls">
        <p class="item-name"> Mode of payment: {{(item.payment_type=='cashpayment')?'cod':'online payment'}}
        </p>
        <p class="ttprice">Total {{item.totalprice|currency:'INR'}}</p>
        <p class="txtpanding" *ngIf="item.user_received===0">Status: Pending </p>
        <p class="txtdeliverd" *ngIf="item.user_received===1">Status: Delivered </p>
        <p class="txtcancel" *ngIf="item.user_received===2">Status: Canceled</p>
      </div>
    </div>
  </ion-list>
</ion-content>