<ion-header>
  <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title>{{cmsList.pagename}}</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div [innerHTML]="cmsList.content"></div>
</ion-content>