<!--
  Generated template for the GroceryEssentialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="header">
    <ion-navbar>
      <ion-title>
        Search
      </ion-title>
      <ion-buttons left>
        <button ion-button icon-only (click)="backButton()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
  <ion-searchbar placeholder="Search Grocery & Essentials" [(ngModel)]="q" [showCancelButton]="shouldShowCancel"
    (ionInput)="getUserInputForSearch($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>
<ion-content #pageTop>
  <ion-list *ngFor="let category of postList;let i=index;" (click)="openRestaurantDetailsPage(category._id)">
    <ion-item>
      <ion-thumbnail item-start>
        <img [src]="category.images">
      </ion-thumbnail>
      <p [class.selected]="selectedCategory?.id === category.id" class="bold">{{ category.title|slice :0:25}}</p>
      <button ion-button clear item-end class="view" >View</button>
    </ion-item>
  </ion-list>
</ion-content>