page-grocery-essential {
    .bold{
        font-weight: bold;
        color: darkslategrey;
    }
    .view{
        color: #2196f3;
    }
    ion-searchbar {
        ::placeholder{
            color:red !important;
            font-size: 20px !important; //sets text font size
        }
    }
}
