<ion-header>
  <ion-toolbar color="primary">
    <button ion-button (click)="openMenu()" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-navbar>
      <ion-title>Doctor booking</ion-title>
    </ion-navbar>
 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div #frame style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important"> -->
    <iframe style=" border:0px; width: 100%; height: 100%;" title="doctor booking" [src]="url"
      class="iframe"></iframe>
  <!-- </div> -->
</ion-content>