<!--
  Generated template for the OfferzonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Offer Zone</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="backButton()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <page-cartcounter></page-cartcounter>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #pageTop>


  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of prodcuctList" class="animated fadeIn">
        <div class="ribbon"><span>Rs {{item.discount}}/- OFF</span></div>
        <ion-card class="col">
          <ion-chip color="light" style="position: absolute; right: 10px; top:10px;" (click)="postDetailsPage(item)">
          </ion-chip>
          <ion-thumbnail (click)="addToCart(item)" [ngStyle]="{'background-image' : 'url(' + item.image + ')'}">
          </ion-thumbnail>

          <div padding (click)="addToCart(item)">
            <h2>{{item.title}}</h2>
            <small>{{item.shoptitle}}</small>
            <ion-badge class="specialprice">Special Price</ion-badge>
            <h4> {{item.dicountedPrice|currency:'INR'}}</h4>
            <h4 class="strikethrough"> {{item.price|currency:'INR'}}</h4>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>