page-offerzone {
    ion-chip {
        position: absolute;
        right: 10px;
        top: 5px;
        opacity: .7;
    }
    ion-card img {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto
    }
    .grid {
        padding-bottom: 80px;
    }
    ion-label {
        font-size: 12px;
    }  
    .filters {
        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;
            ion-icon {
                color: #fff;
            }
            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        p {
            color: #fff;
            margin: 0;
            font-size: 12px;
            line-height: 1.6rem;
        }
        .selected {
            font-weight: 700;
        }
    }
    ion-thumbnail {
        width: 100%;
        height: 100PX;
        background-repeat: no-repeat;
        background-position: center;
    }
    .swiper-slide img {
        height: 50px;
        border-radius: 50%;
    }
    .card-md h2 {
        font-size: 1.3rem;
    }
    .slider-pager-page {
        color: white;
        fill: #f90;
        stroke: red;
        background-color: blue;
    }
    .swiper-slide {
        opacity: .6;
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .list-md {
        margin: 10px 0 16px;
    }
    ion-content {
            top: 29px;       
    }
    .ribbon {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
      }
      .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#9BC90D 0%, #79A70A 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
      }
      .ribbon span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #79A70A;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #79A70A;
      }
      .ribbon span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #79A70A;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #79A70A;
      }
      .strikethrough{
        text-decoration: line-through;
        color: grey;
    }
    .specialprice{
        color: #229444;
        background-color: #92e2a3;
    }
}
